version: "3.7"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - blog-network
    environment:
      SPRING_PROFILES_ACTIVE: docker

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: blog_platform
      MYSQL_USER: username
      MYSQL_PASSWORD: 12345678
    ports:
      - "3307:3306"
    networks:
      - blog-network
    volumes:
      - mysql-data:/var/lib/mysql

networks:
  blog-network:
    driver: bridge

volumes:
  mysql-data:
